/* Reset simple */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

header,
section,
footer {
  margin-bottom: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: black;
}

section {
  padding: 15px;
  border-radius: 15px;
}

table,
th,
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 8px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

/* style */
h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
  padding-bottom: 1rem;
}
h1{
    color: black;
}

h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.6;
}

h3,
p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: hsl(24, 5%, 18%);
}

img {
  max-width: 100%;
  height: auto;
}
article{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
section:first-of-type{
    background-color: hsla(332, 51%, 32%, 0.161);
    padding: 24px;
}
section:first-of-type h3, li{
    color: hsl(332, 51%, 32%);
    font-weight: bolder;
}

section:first-of-type li {
    padding-left: 1.5rem; 
    margin-top: 8px;
    margin-bottom: 8px;
}

li{
    color: hsl(332, 51%, 32%);
}
.nutrition > p:first-of-type{
    padding-bottom: 1rem;
}

.nutrition div {
    padding: 12px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.nutrition div p:last-of-type{
    color: hsl(332, 51%, 32%);
    font-weight: bold;
}

ul, ol {
    padding-left: 1rem;
    margin-bottom: 20px;
}

li {
    padding-left: 1rem;
    margin-bottom: 10px;
}

hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #e0e0e0;
}
